[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/rake"]
	path = vim/bundle/rake
	url = git://github.com/tpope/vim-rake.git
[submodule "vim/bundle/kwbdi"]
	path = vim/bundle/kwbdi
	url = git://github.com/vim-scripts/kwbdi.vim.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/pandoc"]
	path = vim/bundle/pandoc
	url = git@github.com:ltoth/vim-pandoc.git
[submodule "vim/bundle/vim2hs"]
	path = vim/bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
